$background-color: #f3eae3;
$primary-color: #3d8168;
$primary-color-hover: #326755;
$header-color: #192026;
$text-color: #85858e;

:root,
html,
body,
#root {
    width: 100%;
    height: 100%;
}

#root {
    background-color: $background-color;
    color: $text-color;
    font-family: "Roboto", sans-serif;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.container {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}
